
.table { 
    border-spacing: 1px;
    tbody > tr:nth-child(odd) td:not(:first-child):nth-child(even) {
        background-color: var(--color3);

    }
    tbody > tr:nth-child(even) td:not(:first-child):nth-child(odd) {
        background-color: var(--color3);
    }
    button {
        height: 100%;
        width: 100%;
        padding: 0px;
    }
}

.cell {
    height: 64px;
    width: 79px;
}

.cellHighlight {
    border: 1px solid var(--highlight-color);
    cursor: pointer;
}

.cellNoHighlight {
    border: 1px solid transparent;
}

.boardContainer {
    display: flex;
    justify-content: center;
}
