:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color1: #E6FFFA;
  --color2: #24527a;
  --color3: #38B2AC;
  --color4: #EDF2F7;
  --text-color: #2D3748;
  --highlight-color: #ff5722;
  --app-border-radius: .5rem;
  --app-border-color: #E2E8F0;
  background-color: var(--color4);
  color: var(--text-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: var(--app-border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color2);
  background-color: var(--color4);
  cursor: pointer;
  transition: border 0.25s;
}
button:hover {
  border-color: 1px solid #646cff;
}
