
.section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.newGameBtn {
    margin-top: 20px;
    color: black;
    border-radius: 4px;
    background-color: lightgray;
}

.table { 
    width: fit-content;
    tbody > tr:nth-child(odd) td:not(:first-child):nth-child(even) {
        background-color: #61dafb;
    }
    tbody > tr:nth-child(even) td:not(:first-child):nth-child(odd) {
        background-color: #61dafb;
    }
}

.cell {
    height: 64px;
    width: 79px;
}

.cellHighlight {
    border: 1px solid red;
    cursor: pointer;
}

.cellNoHighlight {
    border: 1px solid transparent;
}
