
.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newGameBtn {
    margin-top: 20px;
    color: black;
    border-radius: 4px;
    background-color: lightgray;
}

.table { 
    width: fit-content;
    border-spacing: 1px;
    tbody > tr:nth-child(odd) td:not(:first-child):nth-child(even) {
        /* background-color: #61dafb; */
        background-color: var(--color3);

    }
    tbody > tr:nth-child(even) td:not(:first-child):nth-child(odd) {
        /* background-color: #61dafb; */
        background-color: var(--color3);
    }
}

.cell {
    height: 64px;
    width: 79px;
}

.cellHighlight {
    border: 1px solid var(--highlight-color);
    cursor: pointer;
}

.cellNoHighlight {
    border: 1px solid transparent;
}
