
.footer {
    width: 100vw;
    padding: 20px 0px;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid var(--app-border-color)
}

.footerLink {
    color: var(--text-color);
    font-size: small;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-right: 20px;
    font-weight: 500;
}

.gitgubIcon {
    max-width: 20px;
    max-height: 20px;
}
