.img {
    width: 30px;
    height: 30px;
}

.lostPiecesContainer { 
    background-color: var(--color3);
    border-radius: var(--app-border-radius);
}

.teamWhiteContainer {
    height: 155px;
}

.teamBlackContainer {
    height: 155px;
    padding-top: 20px;
}

.imageContainer {
    margin-top: 10px;
    height: 90px;
    background-color: white;
    border-radius: var(--app-border-radius);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
