
.header {
    width: 100vw;
    padding: 15px 0px;
    color: var(--color1);
    background: linear-gradient(to right, #0987A0, #805AD5);
    display: flex;
    justify-content: space-between;
}

.header > h1 {
    margin-left: 40px;
}

.header > button {
    margin: auto 20px;
    width: 130px;
    height: 50px;
}
