.img {
    width: 30px;
    height: 30px;
}

.lostPiecesContainer { 
    width: auto;
    background-color: var(--color3);
    display: flex;
    flex-direction: column;
    border-radius: var(--app-border-radius);
    margin: 10px 20px;
    padding: 20px 20px;
}

.teamWhiteContainer {
    height: 50%;
    display: flex;
    flex-direction: column;
}

.teamBlackContainer {
    height: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.imageContainer {
    margin-top: 10px;
    background-color: white;
    height: 75px;
    border-radius: var(--app-border-radius);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
