.historyContainer { 
    width: auto;
    background-color: var(--color3);
    border-radius: var(--app-border-radius);
    margin: 10px 20px;
    padding: 20px;
}

.history {
    background-color: white;
    border-radius: var(--app-border-radius);
    margin-top: 10px;
    padding: 10px;
}
