:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;
  /* height: 100vh; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color1: #5dacbd;
  --color2: #24527a;
  --color3: #a7bcb9;
  --color4: #e0ebeb;
  --highlight-color: #ff5722;
  --app-border-radius: 4px;
  background-color: var(--color4);

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: var(--app-border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color2);
  background-color: var(--color3);
  cursor: pointer;
  transition: border 0.25s;
}
button:hover {
  border-color: 1px solid #646cff;
}
